<div class="card">
  <div class="card-header">
    <h5 class="card-title">Cadastro de contrato</h5>
  </div>

  <div class="card-body">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button routerLink="/cadastrar/geral"
          class="nav-link active"
          id="geral-tab"
          data-bs-toggle="tab"
          data-bs-target="#geral"
          type="button"
          role="tab"
          aria-controls="geral"
          aria-selected="true"
        >
          Geral
        </button>
      </li>

      <li class="nav-item" role="presentation">
        <button routerLink="/cadastrar/Itens"
          class="nav-link"
          id="itens-tab"
          data-bs-toggle="tab"
          data-bs-target="#itens"
          type="button"
          role="tab"
          aria-controls="itens"
          aria-selected="true"
        >
          Itens
        </button>
      </li>

      <li class="nav-item" role="presentation">
        <button routerLink="/cadastrar/projetos"
          class="nav-link"
          id="projetos-tab"
          data-bs-toggle="tab"
          data-bs-target="#projetos"
          type="button"
          role="tab"
          aria-controls="projetos"
          aria-selected="true"
        >
          Projetos
        </button>
      </li>
    </ul>
    <div class="tab-content mt-2" id="myTabContent">
      <!--tabs abaixo-->
      <router-outlet></router-outlet>
      <!--//tabs-->
    </div>
  </div>
  <div class="card-footer">
    <div class="d-flex justify-content-end">
      <div class="btn-group gap-1" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary">Voltar</button>
        <button id="submit-cadastro" type="submit" class="btn btn-primary">
          Enviar
        </button>
      </div>
    </div>
  </div>
</div>
