#sidebar {
    width: 200px;
    padding: 5px;
    background-color: #142749;
    height: 100vh;
}
.sidebar-heading {
    text-transform: uppercase;
    padding: .5rem 1rem;
    font-weight: 700;
    color: #fff;
    font-size: .8rem;
}