<div class="tab-pane fade show" id="projetos" role="tabpanel" aria-labelledby="projetos-tab">
    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <h6 class="card-title">Projetos</h6>
                <!--<button class="btn btn-primary btn-sm">
                    <i class="bi bi-plus"></i>
                </button>-->

            </div>    
        </div>
        <div class="card-body">


            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Projeto</th>
                    <th scope="col">Valor total</th>

                </tr>
                </thead>

                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Projeto 1</td>
                    <td>10,00</td>

                </tr>
                </tbody>

                <tfoot>
                    <tr>
                        <th scope="row">
                            Total
                        </th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>10,00</td>
                        <td></td>
                    </tr>
                </tfoot>
            
            </table>

        </div>
    
    </div>
</div>
